.navbar-toggler {
<<<<<<< HEAD
  background-color: #dc3545; /* Fundo danger */
  padding: 10px;
  border-radius: 50%;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); /* Ícone branco */
}

p.previa-blog {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.searchCity {
  border: none;
  border-bottom: 1px solid #666;
  border-radius: 0;
  padding: 4px;
  background-color: #fff;
  color: #666;
  width: 200px;
}

.searchCity::placeholder {
  color: #9b9b9b;
  font-style: italic;
}
=======
        background-color: #dc3545; /* Fundo danger */
        padding: 10px;
        border-radius: 50%;
    }
    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); /* Ícone branco */
    }

p.previa-blog {
    overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 3; /* number of lines to show */
           line-clamp: 3; 
   -webkit-box-orient: vertical;
}

.searchCity{
    border: none;
    border-bottom: 1px solid #666;
    border-radius: 0;
    padding: 4px;
    background-color: #fff;
    color: #666;
    width: 200px;
}

.searchCity::placeholder {
    color: #9b9b9b;
    font-style: italic;
}
>>>>>>> 1947645 (Finalização da home)
